{% load static %}
{% block header %}
<!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="it_home.html"><img src="{% static 'images/logos/logo.png' %}" alt="logo" /></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a class="active" href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'home' %}">Sobre nosotros</a></li>
                <li> <a href="{% url 'home' %}">Servicios</a>
{% comment %}                   <ul>
                    <li><a href="it_service_list.html">Services list</a></li>
                    <li><a href="it_service_detail.html">Services Detail</a></li>
                  </ul> {% endcomment %}
                </li>
                {% comment %} <li> <a href="{% url 'home' %}">Blog</a>
                  <ul>
                    <li><a href="{% url 'home' %}">Blog List</a></li>
                    <li><a href="{% url 'home' %}">Blog Grid</a></li>
                    <li><a href="{% url 'home' %}">Blog Detail</a></li>
                  </ul>
                </li> {% endcomment %}
               {% comment %}  <li> <a href="#">Pages</a>
                  <ul>
                    <li><a href="it_career.html">Career</a></li>
                    <li><a href="it_price.html">Pricing</a></li>
                    <li><a href="it_faq.html">Faq</a></li>
                    <li><a href="it_privacy_policy.html">Privacy Policy</a></li>
                    <li><a href="it_error.html">Error 404</a></li>
                  </ul>
                </li> {% endcomment %}
                {% comment %} <li> <a href="it_shop.html">Shop</a>
                  <ul>
                    <li><a href="it_shop.html">Shop List</a></li>
                    <li><a href="it_shop_detail.html">Shop Detail</a></li>
                    <li><a href="it_cart.html">Shopping Cart</a></li>
                    <li><a href="it_checkout.html">Checkout</a></li>
                  </ul>
                </li> {% endcomment %}
                <li> <a href="#">Nuestros comentarios</a>
                </li>
              </ul>
            </div>
{% comment %}             <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div> {% endcomment %}
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<!-- end header -->
{% endblock header %}